<div class="jumbotron">
  <div class="container">
    <div class="center">
    <h1> Get My Ride</h1>
    <h2> The easiest way to surf cars from Craigslist!!! </h2>
    </div>

         <%= render 'filter' %>




  </div>
</div>
